/*This Custom CSS file has not been structured in any particular order.

Modify this file to your hearts content and make your website look awesome!*/

 #container{
	background-color: #ffcf42;
	width: 100%;
	height: 320px;

}

h1{
font-family: 'Coda Caption', sans-serif;
font-size: 60px;
	color: #ffffff;
	text-align: center;
	margin-top: 0px;
	padding-top: 20px;
}

.callout {
    padding: 1.5rem 1.5rem .45rem;
    background-color: #EFEFEF;
		font-size: 1rem;
font-weight: 300;
line-height: 1.8;
	font-family: 'Montserrat', serif;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: auto;
	margin-right: auto;
	color:#666666;
	height: 220px;
	width: 80%;
	margin-bottom: 100px;

}
.callout, .radius {
    border-radius: 15px;
}


/*Home*/
.full-page-bg {
  position: absolute;
  margin-top: -80px;
  padding-bottom: 100px;
  width:100%;
  min-height: 100vh;
  background: url('../img/common/homepage_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*Cards*/
.card{border: none; background-color: transparent;}

/*Navbar Rules*/
img.nav-bar-img{
	margin-right: 10px;
}

.navbar{
	background-color: #fff;

}

a.navbar-brand{
	font-family: 'Montserrat', serif;
	font-size: 20px;
}

/*Floating Nav*/
#drone{
	float: right;
	width:80px;
	height: 80px;
	margin: 0px;
	border: 0px;
}
.floating-nav{
	position: fixed;
	margin-top: 50px;
	border-left: 1px solid #727272;
}
#personaa{
	width:700px;
	height:450px;
}

#persona {
	display: block;
 margin-left: auto;
 margin-right: auto;
 width: 80%;
 margin-bottom: 50px;
}
	a.float-nav-link{
		font-family: 'Lato', Sans-Serif;
		color: #595959;
		font-size: 14px;
		font-weight: 600;
		text-align: left;
	}

/*Image Rules*/
img{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

#Movie{
display: block;
 margin-left: auto;
 margin-right: auto;

}

/*Font Override Rules*/
 h2, h3, h4, h5, h6 {
	font-family:'Montserrat', Sans-Serif;
	margin-bottom: 30px;
	font-weight: bold;
	text-align: center;
}


#subtitle{
	font-family:'Montserrat', Sans-Serif;
	font-weight:bold;
	text-align: center;
	font-size: 18px;
	color: 6D5606;
}
	h1.welcome-special{
		font-size: 90px;
	}


#change {
	width: 350px;
	height: 250px;
}

	#interface {
		width: 1050px;
		height:700px;
		margin-right: 100px;
	}

	h2.welcome-special-sub{
		font-family: 'Lato', Sans-Serif;
		font-size: 30px;
	}


	h3{
		text-transform: uppercase;
		color: #a49727;
		letter-spacing: -0.5px;
		text-align: center;
		margin-top: 50px;
	}



p, li, span, a {
	font-family: 'Montserrat', serif;
	text-align: justify;
	font-weight: 300;
	font-size: 17px;
}

	p{
		color: #7c7c7c;
		line-height: 30px;
		margin-left: 200px;
		margin-right: 200px;
	}

span.img-caption{
	display: block;
	font-size: 12px;
	font-weight: 500;
	padding: 10px 0px 10px 0px;
}

/*Container/class etc Override Rules*/
.welcome-message{
	margin-top: 200px;
}

.welcome-button-container{
	margin-top: 20px;
}

.welcome-button{
	background-color: transparent;
	border-radius: 0px 0px 0px 0px;
	border: 3px solid #000;
	font-family:'Montserrat', Sans-Serif;
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
}

.welcome-button:hover{
	background-color: #000;
	border-color: #000;
}

.master-heading{
	padding-top: 50px;
}

.section-heading{
	padding-top: 100px;
}

.slide-show{
	padding: 30px 0px 50px 0px;
}

/*Footer*/
.footer{
	margin-top: 50px;
	padding-top: 30px;
	width: 100%;
	min-height: 100px;
	background-color: #989898;
	border-top: 1px solid #727272;
}
